<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Dating</title>
</head>
<body>
        <h1>Register:</h1>
        <form action="">
                First name:<br>
                <input type="text" name="firstname" value="">
                <br>
                Last name:<br>
                <input type="text" name="lastname" value="">
                <br>
                Email:<br>
                <input type="email" name="email">
                Password <br>
                <input type="text" name="password">
                <br>
                <input type="submit" value="Submit">
        </form> 
        <h1>Login</h1>
        <form action="">
                Email:<br>
                <input type="email" name="email">
                Password <br>
                <input type="text" name="password">
                <br>
                <input type="submit" value="Submit">
        </form> 
    
</body>
</html>